/* Shop styles */
#shop {
  background: #f7f7f7;
  padding: 20px;
}

.products {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-img {
  background: #fafafa;
  border-radius: 20px;
}

.info {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.info > h2 {
  font-weight: 400;
  font-size: 14px;
}

.info > p {
  font-weight: 700;
  font-size: 20px;
}

.info-btn > img {
  width: 40px;
  height: 40px;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extra > p {
  font-weight: 700;
  font-size: 14px;
}

.shop-title {
  color: rgb(1, 25, 62);
}
